BBSDescriptionData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BBSDescriptionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="TacticalCallSign">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="OriginalDescription">
                <xs:complexType>
                  <xs:attribute name="description" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="NewDescription">
                <xs:complexType>
                  <xs:attribute name="description" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="primary" type="xs:string" use="required" />
            <xs:attribute name="secondary" type="xs:string" use="required" />
            <xs:attribute name="frequencies" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>